<footer>
    <div class="music-container">
        <div class="c" id="audio-container">
          <form action="">
          <div class="audio-info" >
            <div class="img-container">
              <img src="https://pagalsong.in/uploads//thumbnails/300x300/Untitled-175.jpg" alt="music-cover" id="cover">
            </div>
              <h4 id="title" name="name">bekayali
              <p name="author">Sachent Tandon</p>
              </h4>
              
              <button id="btn" type="submit" class="heart">
              <i  class="fa fa-heart"  ></i>
              </button> 
              </div> </div>
            </form>
                    <!-- <div class="player-controls">
                      <div class="volume-controls control-icons">
                        <i class="fas fa-shuffle"></i>
                        <i class="fas fa-backward"></i>
                        <i class="fas fa-regular fas fa-pause-circle pause-circle-icon-design"></i>
                        <i class="fas fa-forward"></i>
                        <i class="fas fa-repeat"></i>

                      </div>

                      <div class="player-controls-container track">
                        <div class="para-design right-time current-time hide" id="currTime">0.00</div>
                        <div><input type="range" name="player-track" min="0" max="100" class="player-track"></div>
                        <div class="para-design right-time duration hide" id="durTime">0.00</div>

                      </div>

                    </div> -->
                    
                    <span class="current-time hide" id="currTime">0:00</span>
                    <div class="bar">
                      <input type="range" id="seek" min="0" value="0" max="100">
                      <div class="bar-2" id="bar2"></div>
                      <div class="dot"></div>
                    </div>
                    
                    <span class="duration hide" id="durTime">0:00</span>
                </div>
                </div>
                
                <audio src="music/Bekhayali.mp3" id="audio" data-name="audio"></audio>
              
                <div class="volume-container" id="volume-container" >
                   
                    <div class="vol">
                       <i class="fas bi-volume-down-fill" id="vol_icon"></i>
                       <input type="range" id="vol" min="0" value="30" max="100">
                       <div class="vol_bar"></div>
                       <div class="dot" id="vol_dot"></div>
                    </div>
                <div class="navigation">
                  <i class="fas fa-random"></i>
                  <button id="prev" class="action-btn action-btn-big">
                    <i class="fas fa-backward "></i>
                  </button>
                  <button  class="action-btn action-btn-big">
                      <i class="fas fa-play" id="play"></i>
                    </button>
                    <button id="next" class="action-btn">
                      <i class="fas fa-forward "></i>
                    </button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat rep" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                  </div>
                  <div>
                   <div>
                     
                   </div>
                  
                  </div>
             </div>
     
           </div>
     
         </div>
        </footer>