<header>
    <div class="container">
      <div class="navbar">
        <div class="logo">
           <img src="" alt="">
        </div>
          <a href="#">Home</a>
          <a href="/user/playlist">Playlists</a>
          <a href="/FavoriteP">Favorite Songs</a>
          <a href="/users/sign-in">Sign In </a>
          <a href="/users/sign-up">Sign Up</a>
           
          <!-- <a href="./user_sign_in.ejs">sign in</a> -->
         
      </div>

    </div>
  </header>