
    <link rel="stylesheet" href="/css/favorite.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <aside class="side">
        <div>
            <div class="mb home">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
       </svg> HOME </div>

       <div class="mb">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg> Search  </div>

      <div class="mb">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg> Your Library
      </div>
      </div>

      <div>
        <div class="mb-10">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg> Create Playlist
          </div>
          <div class="mb-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-postage-heart-fill" viewBox="0 0 16 16">
            <path d="M4.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-7ZM8 11C2.175 7.236 6.336 4.31 8 5.982 9.664 4.309 13.825 7.236 8 11Z"/>
            <path d="M4.5 0a1 1 0 0 1-2 0H1v1a1 1 0 0 1 0 2v1a1 1 0 0 1 0 2v1a1 1 0 0 1 0 2v1a1 1 0 1 1 0 2v1a1 1 0 1 1 0 2v1h1.5a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0h1a1 1 0 1 1 2 0H15v-1a1 1 0 1 1 0-2v-1a1 1 0 1 1 0-2V9a1 1 0 1 1 0-2V6a1 1 0 1 1 0-2V3a1 1 0 1 1 0-2V0h-1.5a1 1 0 1 1-2 0h-1a1 1 0 1 1-2 0h-1a1 1 0 0 1-2 0h-1ZM4 14a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4Z"/>
          </svg> Add Songs
          </div>
      </div>
      <hr>
    </aside>

    <div class="center">
        <div class="liked-song">
            <div class="RED">
               <img class="poster" src="/images/8.jpg" alt="">
            </div>
           <h1>Liked Songs</h1>
           <button type="button" class="play-all">Play All</button>
        </div>
        <div id="favorite-list">
          <%= favorite %> 
        <%for(fav of favorite){%>
          <li class="artist">
           
           
            <img id="Mistake" class="artist-image" src="<%=fav.image%>" alt="saki saki  poster" data-name="Mistake">
           
            <h5 > <%=fav.name%>
            <div class="subtitle"><%=fav.author%></div>
            </h5>
            <i class="fas fa-play bi play" id="13" ></i>
            <!-- <i class="fa fa-ellipsis-v"></i> -->
            <div class="options">
              <label for="latest-release-checkbox3"
                ><i class="fas fa-ellipsis-h noti"></i
              ></label>
              <input type="checkbox" id="latest-release-checkbox3" />
              <div class="latest-release-dropdown">
                <div class="drop-item">
                  <p><i class="fas fa-play-circle"></i> Play Now</p>
                </div>
                <hr />
                <div class="drop-item">
                  <p><i class="fas fa-list-ul"></i> Add to Queue</p>
                </div>
                <hr />
                <div class="drop-item">
                  <p><i class="fas fa-music"></i> Add to playlist</p>
                </div>
                <hr />
                <div class="drop-item">
                  <p><i class="fas fa-info-circle"></i> Get Info</p>
                </div>
              </div>
              <div class="time">
                4:44
              </div>
            </div>

</div>
          </li>
        <%}%>
        </div>
       
            
            <!-- <li class="artist">
                <span>2</span>
                <img id="Mere-Yaara " class="artist-image" src="/images/14.jpg" data-name="Mere-Yaara">
                <h5>Mere Yaara 
                <div class="subtitle">AUG 2019</div>
                </h5>
                <i class="fas fa-play bi" id="14"></i>
                <i class="fa fa-ellipsis-v"></i>
                </li> -->
                
            <!-- <li class="artist">
                <span>3</span>
                    <img id="Desh" class="artist-image" src="/images/15.jpg" alt="saki saki  poster" data-name="Desh">
                    <h5>Desh Mere 
                    <div class="subtitle">AUG 2019</div>
            </h5>
            <i class="fas fa-play bi" id="15"></i>
            <i class="fa fa-ellipsis-v"></i>
          </li> -->
            <!-- <li class="artist">
                <span>4</span>
          
                        <img id="khairiyat" class="artist-image" src="/images/16.jpg" alt="saki saki  poster" data-name="khairiyat">
                       
                        
                        <h5>Khairiyat 
                        <div class="subtitle">AUG 2019</div>
                        </h5>
                        <i class="fas fa-play bi" id="16"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </li> -->
            <!-- <li class="artist">
                <span>5</span>
                        
                            <img id="dhokha" class="artist-image" src="/images/17.jpg" alt="saki saki  poster" data-name="dhokha">
                      
                            <h5>Dhoka 
                            <div class="subtitle">AUG 2019</div>
                             </h5>
            <i class="fas fa-play bi" id="17"></i>
           
            <a href="" class="trigger">
            <i class="fa fa-ellipsis-v"></i>
            </a>
          </li> -->
            <!-- <li class="artist">
                <span>6</span>
                
                  <img id="fitoor" class="artist-image" src="/images/18.jpg" alt="saki saki  poster" data-name="fitoor">
                  
                 
                  <h5>Tera Fitoor 
                 <div class="subtitle">AUG 2019</div>
            </h5>
            <i class="fas fa-play bi" id="18"></i>
            <i class="fa fa-ellipsis-v"></i>
          </li> -->
            <!-- <li class="artist">
                <span>7</span>
              
                  <img id="hawayein" class="artist-image" src="/images/19.jpg" alt="saki saki  poster" data-name="hawayein">
                
                  
                  <h5>Hawayein 
                 <div class="subtitle">AUG 2019</div>
            </h5>
            <i class="fas fa-play bi" id="19"></i>
           
            <i class="fa fa-ellipsis-v"></i>
            
          </li> -->
        <!-- <h2>Songs you like will appear here</h2> -->
    </div>

    <aside class="Side">
        <div>
            <h2>Recommend</h2>
     
      <hr>
      <li class="artist">
        <span>1</span>
       
        <img id="Mistake" class="artist-image" src="/images/13.jpg" alt="saki saki  poster" data-name="Mistake">
       
        <h5 >Galti Se Mistake 
        <div class="subtitle">Arjit Singh</div>
        </h5>
        <i class="fas fa-play bi play" id="13" ></i>
      </li>
        
        <li class="artist">
            <span>2</span>
            <img id="Mere-Yaara " class="artist-image" src="/images/14.jpg" data-name="Mere-Yaara">
            <h5>Mere Yaara 
            <div class="subtitle">AUG 2019</div>
            </h5>
            <i class="fas fa-play bi play" id="14"></i>
            </li>
            
        <li class="artist">
            <span>3</span>
                <img id="Desh" class="artist-image" src="/images/15.jpg" alt="saki saki  poster" data-name="Desh">
                <h5>Desh Mere 
                <div class="subtitle">AUG 2019</div>
        </h5>
        <i class="fas fa-play bi play" id="15"></i>
      </li>
        <li class="artist">
            <span>4</span>
      
                    <img id="khairiyat" class="artist-image" src="/images/16.jpg" alt="saki saki  poster" data-name="khairiyat">
                   
                    
                    <h5>Khairiyat 
                    <div class="subtitle">AUG 2019</div>
                    </h5>
                    <i class="fas fa-play bi play" id="16"></i>
                  </li>
        <li class="artist">
            <span>5</span>
                    
                        <img id="dhokha" class="artist-image" src="/images/17.jpg" alt="saki saki  poster" data-name="dhokha">
                  
                        <h5>Dhoka 
                        <div class="subtitle">AUG 2019</div>
                         </h5>
        <i class="fas fa-play bi play" id="17"></i>
      </li>
        <li class="artist">
            <span>6</span>
            
              <img id="fitoor" class="artist-image" src="/images/18.jpg" alt="saki saki  poster" data-name="fitoor">
              
             
              <h5>Tera Fitoor 
             <div class="subtitle">AUG 2019</div>
        </h5>
        <i class="fas fa-play bi play" id="18"></i>
      </li>
        <li class="artist">
            <span>7</span>
          
              <img id="hawayein" class="artist-image" src="/images/19.jpg" alt="saki saki  poster" data-name="hawayein">
            
              
              <h5>Hawayein 
             <div class="subtitle">AUG 2019</div>
        </h5>
        <i class="fas fa-play bi play" id="19"></i>
    </aside>
   
   
   
      <script src="/js/favorite.js"></script>
</body>
</html>