
    <link rel="stylesheet" href="/css/library.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

      <div>
        <h1>Playlist</h1>
        <div>
          <a href="C:/Users/HP/Desktop/backendpracticeproject/MUSIC%20PLAYER/liked.html">
            <div class="liked-song">
                <h2 class="fav">Liked song</h2>
            </div>
            </a>
            <a href="C:/Users/HP/Desktop/player/MUSIC PLAYER/playlist.html">
            <div class="playlist">
              <div class="music">
                <img src="https://previews.123rf.com/images/rastudio/rastudio1505/rastudio150501380/40151699-music-note-icon-thin-line-for-web-and-mobile-modern-minimalistic-flat-design-vector-dark-grey-icon-o.jpg" alt="">
              </div>
             <p> My playlist </p>
             <img class="play-icon" src="https://thumbs.dreamstime.com/b/green-play-button-icon-vector-design-isolated-white-background-84313798.jpg" alt="play">
            </div>
            </a>
        </div>
      </div>
     