<form action="/songd/fetch" method="post">
    <input type="text" name="songname">
    <input type="text" name="author">
    <input type="text" name="image">
    <input type="text" name="song">
    
    <input type="submit" value="post">
    
</form>